@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif !important;
}
body{
  min-height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-image: url('/static/images/main.jpg') !important;
  background-size: 100% 100% !important;
}
.wrapper{
  position: relative !important;
  max-width: 600px !important;
  height: 700px !important;
  width: 100% !important;
  background: #fff !important;
  padding: 34px !important;
  border-radius: 6px !important;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2) !important;
}
.wrapper h2{
  position: relative !important;
  font-size: 50px !important;
  font-weight: 600 !important;
  color: #333 !important;
}
.wrapper h2::before{
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 3px !important;
  width: 28px !important;
  border-radius: 12px !important;
  background: #4070f4 !important;
}
.wrapper form{
  margin-top: 30px !important;
}
.wrapper form .input-box{
  height: 70px !important;
  margin: 76px 0px !important;
}
form .input-box input{
  height: 100% !important;
  width: 100% !important;
  outline: none !important;
  padding: 0 15px !important;
  font-size: 25px !important;
  font-weight: 400 !important;
  color: #333 !important;
  border: 1.5px solid #C7BEBE !important;
  border-bottom-width: 2.5px !important;
  border-radius: 6px !important;
  transition: all 0.3s ease !important;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4 !important;
}
form .policy{
  display: flex !important;
  align-items: center !important;
}
form h3{
  color: #707070 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-left: 10px !important;
}
.input-box.button input{
  color: #fff !important;
    letter-spacing: 1px !important;
    border: none !important;
    background: #4070f4 !important;
    cursor: pointer !important;
    border-radius: 4px !important;
    position: relative !important;
    top: 238px !important;
    right: 408px !important;
    padding: 15px 72px !important;
    font-size: 25px !important;
}
.input-box.button input:hover{
  background: #0e4bf1 !important;
}
form .text h3{
 color: #333 !important;
 width: 100% !important;
 text-align: center !important;
}
form .text h3 a{
  color: #4070f4 !important;
  text-decoration: none !important;
}
form .text h3 a:hover{
  text-decoration: underline !important;
}

.form-group {
  position: relative !important;
  margin-bottom: 25px !important;
  overflow: hidden !important;
}
.form-group:last-child {
  margin-bottom: 0px !important;
}

label {
  position: relative !important;
    left: 1px !important;
    top: 2% !important;
    transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    color: #222 !important;
    margin: -10px 1px !important;
    font-size: 34px !important;
}

