{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning System | Login</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="icon" href="{% static 'images/logo.jpg'%}" type="image/png">


   </head>
<body style=" background-image: url('/static/images/mainB.jpg') !important;">
  {%if messages%}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} m-2" id="msg" role="alert" style="position:absolute; top:0; left:0; width:90%; z-index:9999 !important;">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"style="float: right !important;">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {%endfor%}
    {%endif%}
  <div class="wrapper">
    <h2>Register To E-Learning Website</h2>
    <form method="POST">
         {% csrf_token %}
      <div class="input-box">
        <label for="inputId" style="margin: -10px 1px!important;">Enter Your College ID</label>
        <input type="text" name="ID" placeholder="username">
      </div>
      <div class="input-box">
        <label for="inputPassword" style="margin: -10px 1px!important;">Enter Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Sign In" onclick="showAlert()">
      </div>
    </form>
  </div>
    
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>






