{% extends 'navbar.html' %}
{% block title %} Change Password{% endblock title %}
{% block myProfile %}
{% endblock %}
{% block Home %}
{% url 'StudentHome'%}
{% endblock %}
{% block user %}
{{student.full_name}}
{% endblock user %}
{% block content %}
<form class="file-upload" method="POST">
    <!-- change password -->
    {% csrf_token %}
    <div class="col-xxl-6">
        <div class="bg-secondary-soft px-4 py-5 rounded">
            <div class="row g-3">
                <h4 class="my-4">Change Password</h4>
                <!-- Old password -->
                <div class="col-md-6">
                    <label for="exampleInputPassword1" class="form-label">Old password *</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="old">
                </div>
                <!-- New password -->
                <div class="col-md-6">
                    <label for="exampleInputPassword2" class="form-label">New password *</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="new">
                </div>
                <!-- Confirm password -->
                <div class="col-md-12">
                    <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" name="confirm">
                </div>
            </div>
        </div>
    </div>
</div> <!-- Row END -->
<div class="input-box button m-5">
    <input type="Submit" value="Submit" style=" background-color:#66979f;color:white !important;">
  </div>
{% if messages %}
<div class="alert alert-danger mt-3" role="alert">
{% for message in messages %}
{{message}}
{%endfor%}
{% endif %}
</form> <!-- Form END -->
</div>
{%endblock%}